<div class="about-page">
  <h1>National Barista Organization</h1>

  <img src="./assets/images/cafe.jpeg" alt="" id="wheel-img"/>
  <br>
  
  <h3>Our purpose is to bring together coffee professionals and provide them with the resources they need to grow in the coffee industry</h3>


  <div class="three-view">
      <div class="row">
      <div class="col-sm-4">
        <div class="col-padding">
          <img src="./assets/images/brew.png" class="icons" />
          <h3>Education Programs</h3>
        <a href="http://www.scaaeducation.org/upcoming-classes/">Upcomming classes</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-padding">
          <br>
          <img src="./assets/images/coffee.png" class="icons" id="cup" />

          <h3>Barista Camp</h3>
          <a href="http://www.baristaguildofamerica.net/events/barista-camp/">Summer 2017</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-padding">
          <img src="./assets/images/portafilter.png" class="icons" />
          <h3>SCAA 2017 Competition</h3>
          <a href="https://scaa.ps.membersuite.com/events/BrowseEvents.aspx">Information</a>
        </div>
      </div>
      </div>

  </div>

</div>
