<div class="container">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand text-center" routerLink=""><img src="../assets/images/logo.png" id="logo"></a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a routerLink="about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="barista-list">Members</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>




<footer class="footer">
  <div class="container">
    <a class="text-muted text-center" routerLink="admin">Admin</a>
  </div>
</footer>
