/*everypage*/

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  color: black;
}

.navbar-brand {
  padding: 0px;
  color: black;
}
.navbar-brand>img {
  height: 60px;
  width: auto;
  padding: 7px 14px;
}

.navbar a {
  color: black;
  font-size: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  padding: 15px;
}

.container {
  margin-bottom: 100px;
  font-family: 'PT Sans', sans-serif;
}

/*welcome*/
#latte-art-img {
  height: 600px;
  width: 100%;
  align-items: center;
}

.text-body {
  margin-top: 100px;
  text-align: center;
}

/*about*/

@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}


.icons {
  height: 100px;
}

#cup {
  height: 80px;
}

.three-view {
  text-align: center;
  margin-top: 100px;
}

.about-page {
  text-align: center;
}

/*list*/
.admin-list-view {
  text-align: center;
}


#delete {
  margin: 20px;
}


/*profile*/
#profile-image {
  height: 200px;
  width: 200px;
}

.profile-view {
  text-align: center;
}

.headers {
  text-align: left;
}
